* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    overflow: hidden;
}

body {
    background-color: #ddd;
}

.container {
    width: 100%;
}

.container img {
    width: 100%;
    -webkit-user-drag: none;
}
